@charset "UTF-8";

/* ********************** */

/* vendors */

/* base */

/*  Переменные со шрифтами  */

/*  Переменные с гарнитурами шрифтов  */

/*  Основные цвета  */

/* Разрешения */

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("HelveticaNeueCyr-Roman"), url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: local("HelveticaNeueCyr-Bold"), url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*  сбрасывает браузерное отображение элементов т.к. разные браузеры по разному отображают одно и тоже  */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
  background-color: transparent;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  padding: 0;
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*  Общая типографика для всех страниц. здесь описываются общие свойства для текстовых блоков  */

body {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #000;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

h1 {
  font-size: 42px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 24px;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  line-height: 24px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

h4 {
  font-size: 15px;
  letter-spacing: 2.4px;
  line-height: 24px;
  margin: 0px 0 8px 0;
}

p {
  margin: 0;
  margin-bottom: 34px;
  font-size: 14px;
  color: #000;
}

p:last-child {
  margin-bottom: 0;
}

b {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  outline: 0;
  text-decoration: none;
}

.section__title {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  margin-bottom: 39px;
}

.section__title_margin_bot {
  margin-bottom: 30px;
}

.pc-break,
.pc-show {
  display: inline;
}

.medium-break,
.tablet-break,
.mobile-break {
  display: none;
}

.mobile-break-no,
.tablet-break-no {
  display: inline;
}

.bold {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  background-color: #643275;
  color: #fff;
  font-size: 12px;
  line-height: normal;
  border: 1px solid #643275;
  -webkit-transition: all .125s;
  -o-transition: all .125s;
  transition: all .125s;
}

.button:hover {
  background-color: transparent;
  border-color: #b1b1b1;
  color: #643275;
}

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #b1b1b1;
  padding: 0 15px;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: all .125s;
  -o-transition: all .125s;
  transition: all .125s;
  color: #643275;
}

.btn:hover {
  border-color: #643275;
  background-color: #643275;
  color: #fff;
}

.btn_dark-skin {
  border-color: #B1B1B1;
  min-height: 32px;
  color: #000;
}

.btn_dark-skin:hover {
  color: #fff;
}

.btn_accent {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  color: #fff;
  background-color: #643275;
  border-color: #643275;
}

.btn_accent:hover {
  background-color: #fff;
  border-color: #B1B1B1;
  color: #643275;
}

.btn_full {
  width: 100%;
}

.input-wr {
  position: relative;
  display: inline-block;
  padding-top: 22px;
  width: 100%;
}

.input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #D1D1D1;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 10px;
  padding-left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.input:focus ~ .input__label,
.input:not([value=""]) ~ .input__label {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  font-size: 11px;
  color: #D1D1D1;
}

.input:focus ~ .input__sub-text_text,
.input:not([value=""]) ~ .input__sub-text_text {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.input:focus {
  border-color: #b8b8b8;
}

.input__sub-text {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 10px;
  font-size: 11px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  opacity: 0;
}

.input__sub-text_error {
  color: #ff0000;
}

.input__sub-text_text {
  color: #B1B1B1;
}

.input_error {
  border-color: #FF0000;
}

.input_error:focus,
.input_error:not([value=""]) {
  border-color: #ff0000;
}

.input_error:focus ~ .input__sub-text_text,
.input_error:not([value=""]) ~ .input__sub-text_text {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  opacity: 0;
}

.input_error ~ .input__sub-text_error {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.input__label {
  position: absolute;
  color: #9F9F9F;
  font-size: 14px;
  line-height: 22px;
  top: 23px;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.textarea-wr {
  position: relative;
  display: inline-block;
  padding-top: 22px;
  width: 100%;
}

.textarea {
  resize: vertical;
  width: 100%;
  border-color: #D1D1D1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 17px;
  font-size: 14px;
  line-height: 22px;
  margin-top: 33px;
  display: block;
  min-height: 60px;
}

.textarea:focus ~ .input__label,
.textarea:not([value=""]) ~ .input__label {
  color: #D1D1D1;
}

.textarea:focus ~ .input__sub-text_text,
.textarea:not([value=""]) ~ .input__sub-text_text {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.textarea:focus {
  border-color: #b8b8b8;
}

.o-checkbox-wr,
.o-radio-wr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.o-checkbox,
.o-radio {
  position: relative;
  font-size: 0;
  display: inline-block;
}

.o-checkbox__input,
.o-radio__input {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  z-index: -10;
  visibility: hidden;
  opacity: 0;
}

.o-checkbox__input:enabled ~ .o-checkbox__body,
.o-checkbox__input:enabled ~ .o-radio__body,
.o-radio__input:enabled ~ .o-checkbox__body,
.o-radio__input:enabled ~ .o-radio__body {
  cursor: pointer;
}

.o-checkbox__input:enabled ~ .o-checkbox__body .o-checkbox__box,
.o-checkbox__input:enabled ~ .o-checkbox__body .o-radio__box,
.o-checkbox__input:enabled ~ .o-radio__body .o-checkbox__box,
.o-checkbox__input:enabled ~ .o-radio__body .o-radio__box,
.o-radio__input:enabled ~ .o-checkbox__body .o-checkbox__box,
.o-radio__input:enabled ~ .o-checkbox__body .o-radio__box,
.o-radio__input:enabled ~ .o-radio__body .o-checkbox__box,
.o-radio__input:enabled ~ .o-radio__body .o-radio__box {
  border-color: #B1B1B1;
}

.o-checkbox__input:enabled ~ .o-checkbox__body .o-checkbox__text,
.o-checkbox__input:enabled ~ .o-checkbox__body .o-radio__text,
.o-checkbox__input:enabled ~ .o-radio__body .o-checkbox__text,
.o-checkbox__input:enabled ~ .o-radio__body .o-radio__text,
.o-radio__input:enabled ~ .o-checkbox__body .o-checkbox__text,
.o-radio__input:enabled ~ .o-checkbox__body .o-radio__text,
.o-radio__input:enabled ~ .o-radio__body .o-checkbox__text,
.o-radio__input:enabled ~ .o-radio__body .o-radio__text {
  color: black;
}

.o-checkbox__input:enabled:not(:checked) ~ .o-checkbox__body:hover .o-checkbox__box,
.o-checkbox__input:enabled:not(:checked) ~ .o-radio__body:hover .o-radio__box,
.o-radio__input:enabled:not(:checked) ~ .o-checkbox__body:hover .o-checkbox__box,
.o-radio__input:enabled:not(:checked) ~ .o-radio__body:hover .o-radio__box {
  border-color: #643275;
}

.o-checkbox__input:enabled:checked ~ .o-checkbox__body .o-checkbox__box,
.o-checkbox__input:enabled:checked ~ .o-radio__body .o-radio__box,
.o-radio__input:enabled:checked ~ .o-checkbox__body .o-checkbox__box,
.o-radio__input:enabled:checked ~ .o-radio__body .o-radio__box {
  border-color: #643275;
  background-color: #643275;
}

.o-checkbox__input:enabled:focus ~ .o-checkbox__body .o-checkbox__box,
.o-checkbox__input:enabled:focus ~ .o-radio__body .o-radio__box,
.o-radio__input:enabled:focus ~ .o-checkbox__body .o-checkbox__box,
.o-radio__input:enabled:focus ~ .o-radio__body .o-radio__box {
  outline: 2px solid pink;
}

.o-checkbox__input:disabled:checked ~ .o-checkbox__body .o-checkbox__box,
.o-checkbox__input:disabled:checked ~ .o-radio__body .o-radio__box,
.o-radio__input:disabled:checked ~ .o-checkbox__body .o-checkbox__box,
.o-radio__input:disabled:checked ~ .o-radio__body .o-radio__box {
  border-color: rgba(100, 50, 117, 0.5);
  background-color: rgba(100, 50, 117, 0.5);
}

.o-checkbox__box,
.o-radio__box {
  width: 10px;
  height: 10px;
  border: 1px solid #B1B1B1;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.o-checkbox__text,
.o-radio__text {
  font-size: 14px;
  line-height: normal;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}

/* layouts */

.popup-wr {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: none;
}

.popup-overlay {
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.11);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  will-change: opacity;
  opacity: 0;
}

.popup-body {
  background-color: #fff;
  height: 100%;
  z-index: 10;
  min-width: 400px;
  overflow-y: auto;
  padding-bottom: 10px;
}

.popup-body-html {
  will-change: opacity;
  -webkit-overflow-scrolling: touch;
}

/* blocks */

.header-anim {
  opacity: 0;
}

.header {
  position: relative;
  z-index: 1;
}

a {
  color: #000;
}

a:active {
  color: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.svg-symbol {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.container {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}

.tab {
  display: none;
}

.tab_open {
  display: block;
}

@media (max-width: 1200px) {
  .section__title {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
  }

  .pc-break {
    display: none;
  }

  .medium-break {
    display: inline;
  }

  .container {
    max-width: 880px;
  }
}

@media (max-width: 950px) {
  .section__title {
    margin-bottom: 18px;
  }

  .tablet-break {
    display: inline;
  }

  .tablet-break-no {
    display: none;
  }

  .input__sub-text {
    margin-top: 8px;
  }

  .popup-body {
    max-width: 90vw;
  }

  .container {
    max-width: 648px;
  }
}

@media (max-width: 740px) {
  .section__title {
    font-size: 9px;
    line-height: 10px;
    margin-bottom: 13px;
  }

  .mobile-break {
    display: inline;
  }

  .mobile-break-no {
    display: none;
  }

  .input {
    font-size: 10px;
    line-height: 16px;
    padding-bottom: 8px;
    padding-left: 0;
  }

  .input:focus ~ .input__label,
  .input:not([value=""]) ~ .input__label {
    -webkit-transform: translateY(-18px);
    -ms-transform: translateY(-18px);
    transform: translateY(-18px);
    font-size: 8px;
  }

  .input__label {
    font-size: 10px;
  }

  .popup-body {
    min-width: 185px;
  }

  .container {
    max-width: 480px;
    padding-left: 22px;
    padding-right: 22px;
  }
}