.footer-wrap
{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding-right: 75px;
	padding-bottom: 95px;
}
.footer
{
	min-width: 825px;
}
.footer-top
{
	display: flex;
	justify-content: space-between;
}
.footer-top__list
{
	min-width: 200px;
}
.footer-top__list li
{
	padding-top: 10px;
}
.footer-top__list:first-child
{
	min-width: 325px;
}
.footer-top__link
{
	color: #000;
}
.footer-bottom
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 58px;
}
.footer-bottom__left
{
	font-weight: 400;
}
.footer-bottom__left span {
	display: block;
	padding-top: 8px;
}
.footer-bottom__right
{
	display: flex;
	min-width: 200px;
	align-items: center;
}
.footer-bottom__right > picture:first-child
{
	margin-right: 31px;
}

@media (max-width: $medium)
{
	.footer-wrap
	{
		padding-right: 0;
	}
	.footer
	{
		min-width: 550px;
		font-size: 12px;
	}
	.footer-top__list
	{
		min-width: 109px;
	}
	.footer-top__list:first-child
	{
		min-width: 109px;
	}
	.footer-bottom__right
	{
		min-width: 109px;
	}
	.footer-bottom__right img
	{
		width: 33px;
	}
}
@media (max-width: $tablet)
{
	.footer-wrap
	{
		padding-right: 0;
		justify-content: space-between;
	}
	.footer
	{
		min-width: 445px;
	}
	.footer-top__list
	{
		min-width: 109px;
	}
	.footer-top__link br
	{
		display: inline;
	}
	.footer-top__schedule
	{
		display: block;
		padding-top: 7px;
	}
	.footer-top__list li
	{
		padding-top: 7px;
	}
	.footer-bottom__left span {
		padding-top: 7px;
	}
}
@media (max-width: $mobile)
{
	.footer
	{
		min-width: 273px;
		font-size: 10px;
	}
	.footer-top
	{
		flex-wrap: wrap;
	}
	.footer-top__list
	{
		flex-basis: 50%;
	}
	.footer-top__list:first-child
	{
		flex-basis: 100%;
		margin-bottom: 28px;
	}
	.footer-top__link
	{
		line-height: 16px;
	}
	.footer-top__link br
	{
		display: none;
	}
	.footer-top__schedule
	{
		display: inline;
		padding: 0;
	}
	.footer-bottom
	{
		flex-direction: column-reverse;
		align-items: flex-start;
		margin-top: 20px;
	}
	.footer-bottom__left
	{
		margin-top: 30px;
	}
	.footer-bottom__copy span
	{
		display: none;
	}
	.footer-bottom__right > picture:first-child
	{
		margin-right: 10px;
	}
}