/*  Переменные со шрифтами  */
$accent-font: 'HelveticaNeueCyr-Roman', sans-serif;
$second-font: 'HelveticaNeueCyr-Bold', sans-serif;


/*  Переменные с гарнитурами шрифтов  */
// $pt-bold: 700;


/*  Основные цвета  */
$accent-color: #643275;
$grey: #b1b1b1;

/* Разрешения */
$medium: 1200px;
$tablet: 950px;
$mobile: 740px;