<div class="popover-wr" data-popover-name="{{popoverName}}">
	<!-- {% block popoverContent %}{% endblock %} -->
</div>
{% if includePopup %}
	<!-- {% include '../blocks/' ~ includePopup ~ '.twig' with vars only %} -->
{% endif %}